<div class="grid">
  <img src="/img/background.jpg" alt="Background Image" id="background" />

  <img
    src="/img/portfolioImage.jpg"
    alt="Image of myself"
    class="responsive-hide"
    id="profilePicture"
  />

  <div class="container-right">
    <h2 class="sub-header">About me </h2>
    <p class="mid-element" id="about-text">My name is Daniel and I'm 21 years
      old. I'm currently living in Ulricehamn, and I'm also borned and raised
      here. I would explain myself as a fast learner and very technical skilled
      for such as computers since I have grown up always being interested in
      computer and games. I'm a social person and I'm also interested in sports
      overall, but mainly football. I have played football myself until last
      year, but is now a coach for a youth team in Ulricehamn.
      <br />
      <br />
      I'm currently educating towards a web developer and graphic designer. The
      motivation from the start was web development, since I had some experience
      in it from freetime, but I have a passion for design and especially for
      websites and brandings as well. My web development skills might be a bit
      limited yet when it's back-end, but as said I'm a fast learner, especially
      when it's about computers.
    </p>
  </div>

</div>