<div class="grid">
  <img src="/img/background.jpg" alt="Background Image" id="background" />

  <div class="container-left responsive-hide">
    <a href="/programs" class="button">Programs</a>
    <a href="/courses" class="button" id="selected-button">Courses</a>
  </div>

  <div class="container-right">

    <a href="/programs" class="button responsive-only">Programs</a>
    <a
      href="/courses"
      class="button responsive-only"
      id="selected-button"
    >Courses</a>

    <h2 class="sub-header">Web Development </h2>
    <p class="mid-element">Web Development Fundamentals - 7,5 hp</p>
    <p class="mid-element">Foundations of Programming - 7,5 hp</p>
    <p class="mid-element">Web and User Interface Design - 15 hp</p>

    <h2 class="sub-header">Graphic Design & Communication </h2>
    <p class="mid-element">Content Design for New Media - 7,5 hp</p>
    <p class="mid-element">Visual Communication - 7,5 hp</p>
    <p class="mid-element">Marketing Communication - 7,5 hp</p>
    <p class="mid-element">Fundamentals of Graphic Design - 7,5 hp</p>

    <h2 class="sub-header">UI/UX Design</h2>
    <p class="mid-element">User-Experience Design - 7,5 hp</p>
    <p class="mid-element">Human-Computer Interaction - 7,5 hp</p>

    <h2 class="sub-header">Other</h2>
    <p class="mid-element">Project Management and Methods - 7,5 hp</p>
    <p class="mid-element">Business Planning & Entrepreneurship - 7,5 hp</p>
  </div>

</div>