<div class="gproject-grid">
  <div class="gprojectIntro">
    <a href="/projects-graphic">
      <img
        src="/img/arrow-back.png"
        alt="arrow to go back"
        id="gprojectArrow"
      />
    </a>
    <h1 class="gprojectHeader">Personal Branding</h1>
    <p class="gprojectDesc">
      An assignment to create a branding for myself, in this case I created a
      branding based on my name and a feeling towards a developer. Created in
      the course Content Design for New Media 2023.
    </p>
  </div>

  <div class="gprojectArea">
    <img
      src="/img/animationDL.gif"
      alt="DL Logo Animation"
      id="gprojectSlide"
    />
    <img src="/img/imageryDL.png" alt="Imagery for DL" id="gprojectSlide" />
    <img src="/img/logoDL.png" alt="DL Logo Static" id="gprojectSlide" />
    <img
      src="/img/guidelineDL.png"
      alt="Guidelines for DL Logo Usage"
      id="gprojectSlide"
    />
    <img src="/img/typefaceDL.png" alt="Typeface for DL" id="gprojectSlide" />
    <img src="/img/mockupsDL.png" alt="DL Mockups" id="gprojectSlide" />
  </div>

</div>