<div class="gproject-grid">
  <div class="gprojectIntro">
    <a href="/projects-graphic">
      <img
        src="/img/arrow-back.png"
        alt="arrow to go back"
        id="gprojectArrow"
      />
    </a>
    <h1 class="gprojectHeader">Dortmund Re-Branding</h1>
    <p class="gprojectDesc">
      An imaginary Re-Branding made of the football team Borussia Dortmund, in
      the course Content Design of New Media 2023.
    </p>
  </div>

  <div class="gprojectArea">
    <img
      src="/img/backgroundDortmund.png"
      alt="Dortmund Background"
      id="gprojectSlide"
    />
    <img
      src="/img/newOldDortmund.png"
      alt="Dortmund new Logo vs Old"
      id="gprojectSlide"
    />
    <img
      src="/img/showcaseDortmund.png"
      alt="Dortmund new Logo"
      id="gprojectSlide"
    />
    <img
      src="/img/arenaExplain.png"
      alt="Arena from logo explain"
      id="gprojectSlide"
    />
    <img
      src="/img/logoExplain.png"
      alt="Dortmund logo text explain"
      id="gprojectSlide"
    />
    <img
      src="/img/mockupDortmund.png"
      alt="Dortmund Mockups"
      id="gprojectSlide"
    />
  </div>

</div>