<div class="grid">
  <img src="/img/background.jpg" alt="Background Image" id="background" />

  <div class="container-left responsive-hide">
    <a href="/experience" class="button" id="selected-button">Experience</a>
    <a href="/other" class="button">Other</a>
  </div>

  <div class="container-right">

    <a
      href="/experience"
      class="button responsive-only"
      id="selected-button"
    >CV</a>
    <a href="/other" class="button responsive-only">Other</a>

    <h2 class="sub-header">Employments</h2>
    <p class="mid-element">Ungdomens Hus Ulricehamns Kommun</p>
    <p class="last-element">Open Activities Youths</p>
    <p class="last-element">2023</p>
    <p class="mid-element">Förskolevikarie Ulricehamns Kommun</p>
    <p class="last-element">Kindergarden</p>
    <p class="last-element">2022</p>
    <p class="mid-element">David Fransson Bygg AB Ulricehamn</p>
    <p class="last-element">Construction work, Renovation</p>
    <p class="last-element">2021</p>

    <p class="mid-element">Resturang Sture Ulricehamn</p>
    <p class="last-element">Resturant & Dish</p>
    <p class="last-element">2018</p>

    <h2 class="sub-header"> Summer jobs</h2>
    <p class="mid-element">Sommarvågen Ulricehamns Kommun</p>
    <p class="last-element">Activity Leader, Youths</p>
    <p class="last-element">2023</p>
    <p class="mid-element">Bergman & Beving Ulricehamn</p>
    <p class="last-element">Warehouse, Forklift</p>
    <p class="last-element">2020 & 2021</p>
    <p class="mid-element">Patricks Mat Ulricehamn</p>
    <p class="last-element">Resturant & Dish</p>
    <p class="last-element">2019</p>

  </div>

</div>