<div class="grid">
  <img src="/img/background.jpg" alt="Background Image" id="background" />

  <img
    src="/img/character.png"
    alt="Character Image"
    class="responsive-hide"
    id="character"
  />

  <div class="container-right">
    <a href="/about" class="button">About Me</a>
    <a href="/programs" class="button">Education</a>
    <a href="/experience" class="button">CV</a>
    <a href="/skills-coding" class="button">Skills</a>
    <a href="/projects-coding" class="button">My Projects</a>
  </div>

</div>