<div class="grid">
  <img src="/img/background.jpg" alt="Background Image" id="background" />

  <div class="container-left responsive-hide">
    <a href="/experience" class="button">Experience</a>
    <a href="/other" class="button" id="selected-button">Other</a>
  </div>

  <div class="container-right">

    <a href="/experience" class="button responsive-only">CV</a>
    <a
      href="/other"
      class="button responsive-only"
      id="selected-button"
    >Other</a>

    <h2 class="sub-header">Licenses</h2>
    <p class="mid-element">Driver License - B, AM</p>
    <p class="mid-element">Forklift Licence - A1, A2</p>

    <h2 class="sub-header">Languages</h2>
    <p class="mid-element">Swedish - Native</p>
    <p class="mid-element">English - Fluent</p>
  </div>

</div>