<div class="gproject-grid">
  <div class="gprojectIntro">
    <a href="/projects-graphic">
      <img
        src="/img/arrow-back.png"
        alt="arrow to go back"
        id="gprojectArrow"
      />
    </a>
    <h1 class="gprojectHeader">Christmas Poster</h1>
    <p class="gprojectDesc">
      A Poster created for an imaginary Christmas Market, made in the course
      Content Design for New Media 2023
    </p>
  </div>

  <div class="gprojectArea">
    <img src="/img/firstPoster.png" alt="Poster View" id="gprojectSlide" />
    <img src="/img/secondPoster.png" alt="Poster Mockups" id="gprojectSlide" />
  </div>

</div>