<div class="grid">
  <img src="/img/background.jpg" alt="Background Image" id="background" />

  <div class="container-left responsive-hide">
    <a href="/programs" class="button" id="selected-button">Programs</a>
    <a href="/courses" class="button">Courses</a>
  </div>

  <div class="container-right">

    <a
      href="/programs"
      class="button responsive-only"
      id="selected-button"
    >Programs</a>
    <a href="/courses" class="button responsive-only">Courses</a>

    <h2 class="sub-header">Grafisk Design & Webbutveckling </h2>
    <p class="mid-element">Jönköping University, 180 hp</p>
    <p class="last-element">2022-current</p>
    <h2 class="sub-header">Teknik, Design & Produktutveckling </h2>
    <p class="mid-element">Tingsholmsgymnasiet</p>
    <p class="last-element">2018-2021</p>
  </div>

</div>