<div class="grid">
  <img src="/img/background.jpg" alt="Background Image" id="background" />

  <div class="container-left responsive-hide">
    <a href="/projects-coding" class="button" id="selected-button">Web
      Development</a>
    <a href="/projects-graphic" class="button">Graphic Design</a>
  </div>

  <div class="container-right">
    <a
      href="/projects-coding"
      class="button responsive-only"
      id="selected-button"
    >Web Development</a>
    <a href="/projects-graphic" class="button responsive-only">Graphic Design</a>

    <div>
      <button class="paginationButton" id="previousButton">Previous</button>
      <button class="paginationButton" id="page1Button">1</button>
      <button class="paginationButton" id="page2Button">2</button>

      <button class="paginationButton" id="nextButton">Next</button>
    </div>

    <div class="projectArea">
      <img
        src="/img/portfolioWebsite.png"
        alt="Image of Portfolio"
        id="projectImage"
      />
      <div class="project-box">
        <p class="project-text">A portfolio made using Node.JS server with
          extensions. This was created on freetime, while I have a portfolio
          using more advanced-techniques as well but not as good-looking.
        </p>
        <a href="/" id="project-link">Link to the website</a>
      </div>
    </div>

    <div class="projectArea">
      <img
        src="/img/gameWebsite.png"
        alt="Image of R2 game"
        id="projectImage"
      />
      <div class="project-box">
        <p class="project-text">A website made 2022 in the course Web and User
          Interface Design using HTML, CSS and Javascript. It's a website for an
          imaginary game-seller where you can buy their games, like steam.
        </p>
        <a href="https://liden119.github.io/project4/" id="project-link">Link to
          the website</a>
      </div>
    </div>

    <div class="projectArea">
      <img src="/img/gameR2.png" alt="Image of R2 game" id="projectImage" />
      <div class="project-box">
        <p class="project-text">A javascript p5 canvas made game, in the course
          Foundations of Programming. It's a mini-game where you are supposed to
          land the R2-D2 safe without crashing.
        </p>
        <a
          href="https://ju-nmd2022.github.io/fop-lunar-lander-Liden119/"
          id="project-link"
        >Link to the game</a>
      </div>
    </div>

    <div class="projectArea">
      <img
        src="/img/shootingGame.png"
        alt="Image of Shooting Game"
        id="projectImage"
      />
      <div class="project-box">
        <p class="project-text">A javascript p5 canvas made game, in the course
          Foundations of Programming. It's a game where you get a mission to
          destroy specific objects by aiming with the laser at them.
        </p>
        <a
          href="https://ju-nmd2022.github.io/fop-final-project-project-11/"
          id="project-link"
        >Link to the game</a>
      </div>
    </div>

  </div>
</div>