<div class="grid">
  <img src="/img/background.jpg" alt="Background Image" id="background" />

  <div class="container-left responsive-hide">
    <a href="/projects-coding" class="button">Web Development</a>
    <a href="/projects-graphic" class="button" id="selected-button">Graphic
      Design</a>
  </div>

  <div class="container-right">
    <a href="/projects-coding" class="button responsive-only">Web Development</a>
    <a
      href="/projects-graphic"
      class="button responsive-only"
      id="selected-button"
    >Graphic Design</a>

    <div>
      <button class="paginationButton" id="previousButton">Previous</button>
      <button class="paginationButton" id="page1Button">1</button>
      <button class="paginationButton" id="page2Button">2</button>

      <button class="paginationButton" id="nextButton">Next</button>
    </div>

    <div class="projectArea">
      <img
        src="/img/1x1Dortmund.png"
        alt="Image of Dortmund"
        id="projectImage"
      />
      <div class="project-box">
        <p class="project-text">An imaginary Re-Branding made of the football
          team Borussia Dortmund, in the course Content Design for New Media
          2023.
        </p>
        <a href="/dortmund-project" id="project-link">Link to slides</a>
      </div>
    </div>

    <div class="projectArea">
      <img src="/img/logoDL.png" alt="Image of DL" id="projectImage" />
      <div class="project-box">
        <p class="project-text">Personal Branding, made in the course Content
          Design for New Media 2023.
        </p>
        <a href="/dl-project" id="project-link">Link to slides</a>
      </div>
    </div>

    <div class="projectArea">
      <img
        src="/img/thumbnailPoster.png"
        alt="Image of Poster"
        id="projectImage"
      />
      <div class="project-box">
        <p class="project-text">A Poster created for an imaginary Christmas
          Market, made in the course Content Design for New Media 2023
        </p>
        <a href="/poster-project" id="project-link">Link to slides</a>
      </div>
    </div>

    <div class="projectArea">
      <img
        src="/img/rubenssons3.png"
        alt="Image of Portfolio"
        id="projectImage"
      />
      <div class="project-box">
        <p class="project-text">A branding and marketing stratergy created for
          an imaginary new launch of an apple cider for Rubensson AB. Made in
          the course Marketing Communication 2023.
        </p>
        <a href="/rubenssons-project" id="project-link">Link to slides</a>
      </div>
    </div>
  </div>

</div>