<div class="gproject-grid">
  <div class="gprojectIntro">
    <a href="/projects-graphic">
      <img
        src="/img/arrow-back.png"
        alt="arrow to go back"
        id="gprojectArrow"
      />
    </a>
    <h1 class="gprojectHeader">Rubenssons AB</h1>
    <p class="gprojectDesc">
      A branding and marketing stratergy created for an imaginary new launch of
      an apple cider for Rubensson AB. Made in the course Marketing
      Communication 2023.
    </p>
  </div>

  <div class="gprojectArea">
    <img src="/img/rubenssons1.png" alt="Rubenssons Logo" id="gprojectSlide" />
    <img
      src="/img/rubenssons2.png"
      alt="Rubenssons Mockups and Guides"
      id="gprojectSlide"
    />
  </div>

</div>