<div class="grid">
  <img src="/img/background.jpg" alt="Background Image" id="background" />

  <div class="container-left responsive-hide">
    <a href="/skills-coding" class="button" id="selected-button">Web Development</a>
    <a href="/skills-graphic" class="button">Graphic Design</a>
  </div>

  <div class="container-right">
    <a
      href="/skills-coding"
      class="button responsive-only"
      id="selected-button"
    >Web Development</a>
    <a href="/skills-graphic" class="button responsive-only">Graphic Design</a>

    <h2 class="sub-header">Front-End</h2>
    <p class="mid-element">HTML</p>
    <p class="mid-element">CSS</p>
    <p class="mid-element">JavaScript</p>

    <h2 class="sub-header">Back-End</h2>
    <p class="mid-element">Node.js</p>
    <p class="mid-element">Express.js</p>
    <p class="mid-element">SQLite Databases</p>

    <h2 class="sub-header">Other</h2>
    <p class="mid-element">Handlebars</p>
    <p class="mid-element">Sessions</p>
    <p class="mid-element">Basic Security</p>
  </div>

</div>