<div class="grid">
  <img src="/img/background.jpg" alt="Background Image" id="background" />

  <div class="container-left responsive-hide">
    <a href="/skills-coding" class="button">Web Development</a>
    <a href="/skills-graphic" class="button" id="selected-button">Graphic Design</a>
  </div>

  <div class="container-right">
    <a href="/skills-coding" class="button responsive-only">Web Development</a>
    <a
      href="/skills-graphic"
      class="button responsive-only"
      id="selected-button"
    >Graphic Design</a>
    <h2 class="sub-header">Programs</h2>
    <p class="mid-element">Illustrator</p>
    <p class="mid-element">InDesign</p>
    <p class="mid-element">Photoshop</p>
    <p class="mid-element">Premiere Pro</p>
    <p class="mid-element">After Effects</p>
  </div>

</div>